/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@font-face {
    font-family: "gothampro-medium";
    src: url(../fonts/gothampro-medium.ttf);
}

@font-face {
    font-family: "gothampro-light";
    src: url(../fonts/gothampro-light.ttf);
}

@font-face {
    font-family: "gothampro-bold";
    src: url(../fonts/gothampro-bold.ttf)
}

@font-face {
    font-family: "myriadpro-regular";
    src: url(../fonts/myriadpro-regular.ttf);
}

body {
    position: relative;
}

.bg_section {
    background: url(../img/bg12section.jpg) 0 0/100% 100% no-repeat;
    width: 100%;
}

.header {
    width: 100%;
    min-height: 110px;
    .container {
        min-height: 110px;
    }
    &_wrapper {
        min-height: 110px;
        display: flex;
        align-items: center;
    }
    .logo_img {
        margin: 0 auto;
    }
    
    &_navigation_list {
        display: flex;
        justify-content: space-around;
        li {
            padding-right: 30px;
            font-size: 17px;
            .burger_king {
                text-decoration: none;
                color: #fff;
                cursor: pointer;
                span {
                    color: #fff;
                }
            }
            
            .burger_king:after {
                background-color: #11749e;
                display: block;
                content: "";
                height: 5px;
                width: 0%;
                -webkit-transition: width .3s ease-in-out;
                -moz--transition: width .3s ease-in-out;
                transition: width .3s ease-in-out;
                transform:translateX(-20%) translateY(28px);
            }
            .burger_king:hover:after,
            .burger_king:focus:after {
                width: 155%;
            }


        }
        .social {
            padding-right: 5px;
        }
    }
}

hr {
   color: #fff;
   margin: 0;  
}
    
.creatives {
    min-height: 1250px;
    &_wrapper {
        line-height: 50px;
        text-align: center;
        margin-top: 275px;
    }
    h1 {
        color: #fff;
        font-size: 130px;
        font-family: gothampro-bold;
        font-weight: 300;

    }
    .site {
        color: #11749e;
        font-size: 25px;
        font-family: gothampro-medium; 
        text-transform: uppercase;
        word-spacing: 10px;
        letter-spacing: 14px;
        }
    .scroll-down {
        margin-top: 85px;
        line-height: 50px;
        .scroll_center {
            display: flex;
            justify-content: center;
        }
        p {
            color: #fff;
            font-family: 'Open Sans', sans-serif;
            text-align: center;
        }

    .wrapper_scroll {
        display: flex;
        justify-content: center;
        text-align: center;
        width: 50px;
        height: 50px;
        border: solid;
        color: #fff;
        border-radius: 100%;
        border-width: 1px;
        
        a {
            text-decoration: none;
            color: #fff;
        }
    }
}
}

.label {
    display: flex;
    justify-content: center;
    margin-top: 250px;
    font-size: 40px;
    position: relative;
    color: #fff;
    text-transform: uppercase;
    font-family: 'gothampro-medium', sans-serif;
    text-align: center;
    font-weight: 300;
}

.label::before {
    content: "W";
    position: absolute;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 245px;
    color: #fff;
    opacity: 0.4;
    line-height: 70px;
    font-weight: 300;
}

.promo_wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 200px;
    .promo_item {
        width: 259px;
        .promo_round {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            width: 100px;
            height: 100px;
            border-radius: 100%;
            background-color: #2e85aa;
        }
        .promo_descr_title {
            margin-top: 15px;
            text-align: center;
            color: #fff;
            text-transform: uppercase;
            font-size: 18px;
            font-family: gothampro-medium;


        }
        .promo_descr_text {
            margin-top: 25px;
            text-align: center;
            color: #fff;
            font-size: 15px;
            font-family: gothampro-light;
        }
    }
    
}


.akita_one {
    height: 100%;
    &_wrapper {
        display: flex;
        flex-flow: row wrap;
        .color {
            background-color: #222222;
            flex-grow: 1;
        }
    }
    .time_and_text {
        display: inline-block;
        margin: 70px 0 90px 115px;
        color: #fff;

        .akita_one_title {
            margin-top: 10px;
            font-size: 25px;
            text-transform: uppercase;
            font-family: gothampro-medium;
        }
        .akita_one_text{
            font-size: 15px;
            font-family: gothampro-light;
            margin-top: 25px;
        }
        span {
            padding-left: 8px;
            font-family: gothampro-light;
            font-size: 13px;
        }
    }
    .time {
        border-right: 1px solid white;
        color: white;
        padding-right: 10px;
        font-size: 13px;
        font-family: gothampro-light;
    }
    .color_2 {
        background-color: #f3f3f3;
        flex-grow: 1;
        .time_and_text_2 {
            display: inline-block;
            margin: 70px 0 90px 70px;
            color: #222222;
            .akita_one_title_2 {
                margin-top: 10px;
                font-size: 25px;
                text-transform: uppercase;
                font-family: gothampro-medium;
            }
            .akita_one_text_2 {
                font-size: 15px;
                font-family: gothampro-light;
                margin-top: 25px;
            }
            .time_2 {
                border-right: 1px solid gray;
                color: #222222;
                padding-right: 10px;
                font-size: 13px;
                font-family: gothampro-light;
            }
            span {
                padding-left: 8px;
                font-family: gothampro-light;
                font-size: 13px;
            }
        }
    }
}

.blog {
    height: 100%;
    &_title {
        font-size: 40px;
        text-transform: uppercase;
        margin-top: 100px;
        position: relative;
        font-family: 'gothampro-medium', sans-serif;
        text-align: center;
        font-weight: 300;
        }

    &_title::before {
        content: "B";
        position: absolute;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 245px;
        color: #000;
        opacity: 0.2;
        line-height: 70px;
        margin-left: 50px;
        font-weight: 300;
        }
        &_title_3 {
            margin-top: 100px;
            font-size: 30px;
            font-family: gothampro-light;
            text-align: center;
            font-weight: 700;
    }
    &_wrapper {
        display: flex;
        justify-content: space-around;
        margin: 70px 0 100px 0;
        .blog_descr_title {
            font-size: 18px;
            font-family: 'gothampro-medium', sans-serif;
            color: #11749e;
            text-transform: uppercase;
            margin-top: 35px;
            text-align: center;
            }
        .blog_icon {
            margin: 0 auto;
        }
        .blog_descr_text {
            font-size: 15px;
            font-family: 'gothampro-light' , sans-serif;
            text-align: center;
        }
    }
}

.blue_write {
    height: 100%;
    background-color: #11749e;
    .blue_write_wrapper_all {
        display: flex;
        justify-content: space-between;
        margin: 80px 0 120px 0;
        .blue_write_wrapper_text {
            color: #fff;
            font-size: 15px;
            font-family: 'gothampro-light' , sans-serif;
            margin-left: 25px;
        }
        .blue_write_wrapper_1 {
            display: flex;
        }
        .blue_write_wrapper_2 {
            display: flex;
            margin-left: 30px;
        }
    }
}

.akita {
    display: flex;
    justify-content: space-around;
    min-height: 850px;
    width: 100%;
    background: url(../img/bg_akita_section.jpg) 0 0/100% 100% no-repeat;
    .image_phone {
        margin: 95px 160px 0 0;
    }
}

.wrapper_akita {
    color: #fff;
    margin-left: 80px;
    h2 {
        font-family: gothampro-medium;
        font-size: 25px;
        font-weight: 500;
        padding-top: 220px;
        }
    .text_akita {
        font-family: gothampro-light;
        font-size: 15px;
        margin-top: 35px;
        line-height: 25px;
        }
    .fully_blue {
        height: 40px;
        width: 365px;
        background-color: #11749e;
            .fully_text {
                font-size: 15px;
                padding: 12px 0 0 16px;
                margin-top: 62px;
                font-family: gothampro-medium;
            }
    }
    .high_blue {
        height: 40px;
        width: 400px;
        background-color: #11749e;
        margin-top: 19px;
            .high_text {
                font-size: 15px;
                padding: 12px 0 0 16px;
                font-family: gothampro-medium;
            }
    }
    .different_blue {
        height: 40px;
        width: 425px;
        background-color: #11749e;
        margin-top: 19px;
            .different_text {
                font-size: 15px;
                padding: 12px 0 0 16px;
                font-family: gothampro-medium;
            }
    }
}

.team {
    height: 100%;
    background: url(../img/bg_white.jpg) 0 0/100% 100% no-repeat;
    &_title {
        font-size: 40px;
        text-transform: uppercase;
        margin-top: 100px;
        position: relative;
        font-family: 'gothampro-medium', sans-serif;
        text-align: center;
        font-weight: 300;
        }

    &_title::before {
        content: "T";
        position: absolute;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 245px;
        color: #000;
        opacity: 0.2;
        line-height: 50px;
        margin-left: 50px;
        font-weight: 300;
        }
        &_title_3 {
            margin-top: 100px;
            font-size: 30px;
            font-family: gothampro-light;
            text-align: center;
            font-weight: 700;
    }
    &_wrapper {
        display: flex;
        justify-content: space-between;
        margin: 70px 0 100px 0;
        .our_team {
            position: relative;
            h4 {
                top: 357px;
                left: 26px;
                position: absolute;
                width: 207px;
                height: 55px;
                background-color: #fff;
                text-align: center;
                padding-top: 20px;
                text-transform: uppercase;
                color: #11749e;
                font-size: 20px;
                font-family: 'gothampro-medium', sans-serif;
            }
            h5 {
                font-size: 15px;
                font-family: 'gothampro-medium', sans-serif;
                text-align: center;
                margin-top: 10px;
            }
        }
    }
}


.form {
    min-height: 900px;
    background: url(../img/bg_form.jpg) 0 0/100% 100% no-repeat;
    width: 100%;
    position: absolute;
    z-index: -1;
    &_title {
        font-size: 35px;
        text-transform: uppercase;
        position: relative;
        padding-top: 190px;
        font-family: 'gothampro-medium', sans-serif;
        text-align: center;
        font-weight: 300;
        color: #fff;
        }

    &_title::before {
        content: "C";
        position: absolute;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 245px;
        color: #fff;
        opacity: 0.2;
        line-height: 50px;
        margin-left: 350px;
        font-weight: 300;
        }
        &_wrapper {
        margin-top: 170px;
        text-align: center;
        .form-input {
            width: 330px;
            height: 45px;
            border: 1px solid #fff;
            margin-bottom: 30px;
            background: rgba( 0,0,0,.1);
            color: #fff;
            padding-left: 15px;

        }
        .form_margin {
            margin-left: 18px;
        }
        .texterea_size {
            width: 1035px;
            height: 140px;
            border: 1px solid #fff;
            background: rgba( 0,0,0,.1);
            margin-bottom: 35px;
            resize: none;
            color: #fff;
            padding: 8px 0 0 15px;
        }
        input::placeholder {
            color: #fff;
            font-size: 15px;
            font-family: 'gothampro-light' , sans-serif;
          }
          textarea::placeholder {
            color: #fff;
            font-size: 15px;
            font-family: 'gothampro-light' , sans-serif;
          }
        .btn {
            min-width: 225px;
            min-height: 65px;
            background-color: #11749e;
            border: none;
            text-transform: uppercase;
            color: #fff;
            font-size: 24px;
            font-family: 'gothampro-medium', sans-serif;
            margin-bottom: 95px;
        }
    }
}


.map {
    min-height: 300px;
    background: url(../img/bg_footer_map.jpg) 0 0/100% 100% no-repeat;
    width: 100%;
    position: relative;
    top: 830px;
}

.bee {
    min-height: 105px;
    background-color: #222222;
    position: relative;
    top: 830px;

    &_wrapper {
        min-height: 105px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 190px 0 190px;


    }
    &_text {
        font-size: 13px;
        font-family: 'Roboto', sans-serif;
        color: #fff;
        font-weight: 300;
    }
}

#menu-toggle {
    display: none;
}