/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@font-face {
    font-family: "gothampro-medium";
    src: url(../fonts/gothampro-medium.ttf);
}

@font-face {
    font-family: "gothampro-light";
    src: url(../fonts/gothampro-light.ttf);
}

@font-face {
    font-family: "gothampro-bold";
    src: url(../fonts/gothampro-bold.ttf)
}

@font-face {
    font-family: "myriadpro-regular";
    src: url(../fonts/myriadpro-regular.ttf);
}

.bg_section {
    background: url(../img/bg12section.jpg) 0 0/100% 100% no-repeat;
    width: 100%;
}

.header {
    width: 100%;
    min-height: 110px;
    .container {
        min-height: 110px;
    }
    &_wrapper {
        min-height: 110px;
        display: flex;
        align-items: center;
    }
    .logo_img {
        margin: 0 auto;
    }
    
    &_navigation_list {
        display: flex;
        justify-content: space-around;
        li {
            padding-right: 30px;
            font-size: 17px;
            a {
                text-decoration: none;
                color: #fff;
                span {
                    color: #fff;
                }
            }
        }
        .social {
            padding-right: 5px;
        }
    }
}

hr {
   color: #fff;
   margin: 0;  
}
    
.creatives {
    min-height: 1250px;
    &_wrapper {
        line-height: 50px;
        text-align: center;
        margin-top: 275px;
    }
    h1 {
        color: #fff;
        font-size: 130px;
        font-family: gothampro-bold;
        font-weight: 300;

    }
    .site {
        color: #11749e;
        font-size: 25px;
        font-family: gothampro-medium; 
        text-transform: uppercase;
        word-spacing: 10px;
        letter-spacing: 14px;
        }
    .scroll-down {
        margin-top: 85px;
        line-height: 50px;
        p {
            color: #fff;
            font-family: 'Open Sans', sans-serif;
            text-align: center;
        }

    .wrapper_scroll {
        display: flex;
        justify-content: center;
        margin-left: 650px;
        width: 50px;
        height: 50px;
        border: solid;
        color: #fff;
        border-radius: 100%;
        border-width: 1px;
        
        a {
            text-decoration: none;
            color: #fff;
        }
    }
}
}

.label {
    margin-top: 250px;
    font-size: 40px;
    position: relative;
    color: #fff;
    text-transform: uppercase;
    font-family: 'gothampro-medium', sans-serif;
    text-align: center;
    font-weight: 300;
}

.label::before {
    content: "W";
    position: absolute;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 245px;
    color: #fff;
    opacity: 0.4;
    line-height: 70px;
    margin-left: 235px;
    font-weight: 300;
}

.promo_wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 200px;
    .promo_item {
        width: 259px;
        .promo_round {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            width: 100px;
            height: 100px;
            border-radius: 100%;
            background-color: #2e85aa;
        }
        .promo_descr_title {
            margin-top: 15px;
            text-align: center;
            color: #fff;
            text-transform: uppercase;
            font-size: 18px;
            font-family: gothampro-medium;


        }
        .promo_descr_text {
            margin-top: 25px;
            text-align: center;
            color: #fff;
            font-size: 15px;
            font-family: gothampro-light;
        }
    }
    
}

.akita_one {
    min-height: 775px;
    &_wrapper {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        .color {
            background-color: #222222;
            min-width: 674px;
        }
    }
    .time_and_text {
        display: inline-block;
        margin: 70px 0 30px 115px;
        color: #fff;

        .akita_one_title {
            margin-top: 10px;
            font-size: 25px;
            text-transform: uppercase;
            font-family: gothampro-medium;
        }
        .akita_one_text{
            font-size: 15px;
            font-family: gothampro-light;
            margin-top: 25px;
        }
        span {
            padding-left: 8px;
        }
    }
    .time {
        border-right: 2px solid white;
        color: white;
        padding-right: 10px;
        font-size: 13px;
        font-family: gothampro-light;
    }
    .color_2 {
        background-color: #f3f3f3;
        min-width: 674px;
}

.akita {
    display: flex;
    justify-content: space-around;
    min-height: 850px;
    width: 100%;
    background: url(../img/bg_akita_section.jpg) 0 0/100% 100% no-repeat;
    .image_phone {
        margin: 95px 160px 0 0;
    }
}

.wrapper_akita {
    color: #fff;
    margin-left: 80px;
    h2 {
        font-family: gothampro-medium;
        font-size: 25px;
        font-weight: 500;
        padding-top: 220px;
        }
    .text_akita {
        font-family: gothampro-light;
        font-size: 15px;
        margin-top: 35px;
        line-height: 25px;
        }
    .fully_blue {
        height: 40px;
        width: 365px;
        background-color: #11749e;
            .fully_text {
                font-size: 15px;
                padding: 12px 0 0 16px;
                margin-top: 62px;
                font-family: gothampro-medium;
            }
    }
    .high_blue {
        height: 40px;
        width: 400px;
        background-color: #11749e;
        margin-top: 19px;
            .high_text {
                font-size: 15px;
                padding: 12px 0 0 16px;
                font-family: gothampro-medium;
            }
    }
    .different_blue {
        height: 40px;
        width: 425px;
        background-color: #11749e;
        margin-top: 19px;
            .different_text {
                font-size: 15px;
                padding: 12px 0 0 16px;
                font-family: gothampro-medium;
            }
    }
}

.two {
    min-height: 300px;
    background-color: red;
}
