@media (max-width: 768px) {
    .menu-btn{
        display: flex;
        align-items: center;
        position: absolute;
        top: 45px;
        right: 680px;;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
      }
       
      .menu-btn > span,
      .menu-btn > span::before,
      .menu-btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #fff;
        transition-duration: .25s;
      }
      .menu-btn > span::before {
        content: '';
        top: -8px;
      }
      .menu-btn > span::after {
        content: '';
        top: 8px;
      }
       
      .menubox{
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: 100%;
        width: 200px;
        height: 100%;
        margin: 0;
        padding: 0;
        list-style: none;
        background-color: #ECEFF1;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
        transition-duration: .25s;
      }
       
      .burger_king {
        color: #000;
        display: block;
        font-family: sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        transition-duration: .25s;
        padding-left: 20px;
    }


    .burger_king:after {
        background-color: #11749e;
        display: block;
        content: "";
        height: 5px;
        width: 0%;
        -webkit-transition: width .3s ease-in-out;
        -moz--transition: width .3s ease-in-out;
        transition: width .3s ease-in-out;
        transform:translateX(-20%) translateY(28px);
    }
    .burger_king:hover:after,
    .burger_king:focus:after {
        width: 100%;
    }

      
      .burger_king:hover {
        background-color: #CFD8DC;
        color: black;
      }
       
    
       
      #menu-toggle{
        opacity: 0;
      }
       
      #menu-toggle:checked ~ .menu-btn > span{
        transform: rotate(45deg);
      }
      #menu-toggle:checked ~ .menu-btn > span::before{
        top: 0;
        transform: rotate(0);
      }
      #menu-toggle:checked ~ .menu-btn > span::after{
        top: 0;
        transform: rotate(90deg);
      }
      #menu-toggle:checked ~ .menubox{
        visibility: visible;
        left: 0;
      }

      body {
        width: 100%;
        .bg_section {
          width: 100%;
          height: 100%;
          .logo_img {
            margin-left: 330px;
          }
          h1 {
            font-size: 80px;
          }
          .site {
            font-size: 20px;
          }
          .promo_wrapper {
            justify-content: space-around;
            flex-wrap: wrap;
            margin-top: 100px;
          }

        .akita_one_wrapper {
          flex-direction: row-reverse;
        }
        }
        .user_img_1 {
          order: -1;
          width: 800px;
        }

        .time_and_text {
          order: 0;
          margin: 70px 0 90px 200px;
          text-align: center;
        }

        .user_img_2 {
          width: 800px;

        }

        .time_and_text_2 {
          margin: 70px 0 90px 200px;
          text-align: center;
        }


      .blog {
        width: 100%;
        .blog_wrapper {
          flex-wrap: wrap;
          .blog_item{
            margin-bottom: 30px;
            width: 220px;
          }
        }
      }

      .blue_write_wrapper_all {
        flex-wrap: wrap;
        justify-content: space-around;
        .blue_write_wrapper_1 {
          margin-left: 30px;
        }

        .blue_write_wrapper_2 {
          display: flex;
          margin-top: 50px;
      }
      }



        .form {
          width: 100%;
          .texterea_size{
            width: 300px;
          }
        }
      }
}
