@media (min-width: 1368px)   {
  .form .form_flex .texterea_size {
    width: 1249px;
  }
}

@media (max-width: 768px) {
  .menu-btn{
    display: flex;
    align-items: center;
    position: absolute;
    top: 45px;
    right: 45px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
   
  .menu-btn > span,
  .menu-btn > span::before,
  .menu-btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition-duration: .25s;
  }
  .menu-btn > span::before {
    content: '';
    top: -8px;
  }
  .menu-btn > span::after {
    content: '';
    top: 8px;
  }
   
  .header_navigation_list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    visibility: hidden;
    top: 0;
    padding: 20px 0 0 20px;
    left: 100%;
    width: 200px;
    height: 100%;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    transition-duration: .25s;
  }
   
  .header_navigation_list li .zaebalo {
    color: #333;
    display: block;
    font-size: 20px;
    transition-duration: .25s;
    padding: 20px 0 0 20px;
}

.header_navigation_list li .zaebalo span {
  color: #333;

}

.header_navigation_list li .zaebalo::after {
transform:translateY(10px);
}

.header_navigation_list li .zaebalo:hover:after,
.header_navigation_list li .zaebalo:focus:after {
    width: 100%;
}

  
.header_navigation_list li .zaebalo:hover {
    background-color: #CFD8DC;
    color: black;
  }
   
  #menu-toggle{
    opacity: 0;
  }
   
  #menu-toggle:checked ~ .menu-btn > span{
    transform: rotate(45deg);
  }
  #menu-toggle:checked ~ .menu-btn > span::before{
    top: 0;
    transform: rotate(0);
  }
  #menu-toggle:checked ~ .menu-btn > span::after{
    top: 0;
    transform: rotate(90deg);
  }
  #menu-toggle:checked ~ .menubox{
    visibility: visible;
    left: 0;
  }
}

@media (max-width: 992px) {
  .header_navigation_list li {
    padding-right: 15px;
    font-size: 16px;
  }
   .offset-md-1 {
  margin-left: 4.33333333%;
}
}


@media (max-width: 991px) {
  .team .team_wrapper {
    padding: 0;
  }
}

@media (max-width: 1307px) {
  .form .form_flex .form-input {
    width: 550px;
  }
  .form .form_flex {
    justify-content: center;
    margin-top: 90px;
  }
}

@media (max-width: 1177px) {
  .promo_wrapper .promo_item {
    width: 40%;
  }
  }

    @media (max-width: 1203px){
    .team_wrapper {
      flex-wrap: wrap;
      margin-bottom: 20px;
      justify-content: space-between;
      padding: 0 110px 0 110px;
      .our_team {
        margin-bottom: 30px;
        width: 250px;
      }
    }
    .none_br {
      display: none;
    }
    write_big_1 {
      width: 0;
    }
  }
  




@media (max-width: 1179px) {

      body {
        width: 100%;
        .row {
          --bs-gutter-x: 0;
        }
        .bg_section {
          width: 100%;
          height: 100%;

          h1 {
            font-size: 80px;
          }
          .site {
            font-size: 20px;
          }

          .label {
            margin-top: 250px;
            font-size: 30px;
          }

          .label::before {
            display: flex;
            justify-content: center;
            margin: 0 auto;
            font-size: 180px;
            width: 100%;
        }

          .promo_wrapper {
            justify-content: space-around;
            flex-wrap: wrap;
            margin: 100px 0 30px 0;
          }

          .top {
            margin-top: 50px;
          }


        .akita_one_wrapper {
          flex-direction: row-reverse;
        }
        }

        .akita_one_wrapper .user_img_div {
          width: 1179px;
          height: 400px;
          order: 1;
        }

        .color {
          order: 2;
        }
        .akita_one .time_and_text { 
          text-align: center;
          margin: 0 auto;
          width: 100%;
          padding: 70px 20px 70px 20px;
        }

        .akita_one_wrapper .user_img_block {
          order: 3;
          width: 1179px;
          height: 400px;
        }

        .color_2{
          order: 4;
          width: 100%;
        }

        .akita_one .color_2 .time_and_text_2  {
          text-align: center;
          margin: 0 auto;
          width: 100%;
         padding: 70px 20px 70px 20px;
        }


      .blog {
        width: 100%;
        .blog_wrapper {
          flex-wrap: wrap;
          .blog_item{
            margin-bottom: 15px;
            width: 40%;
          }
        }
      }

      .blue_write_wrapper_all {
        flex-wrap: wrap;
        justify-content: space-around;
        .blue_write_wrapper_1 {
          margin-left: 30px;
        }

        .blue_write_wrapper_2 {
          display: flex;
          margin-top: 50px;
      }
      }

      .akita {
        min-height: 550px;
        .wrapper_akita {
          width: 300px;
          height: 100%;
          margin-left: 10px;
          h2 {
            padding: 50px 35px 0 0;
          }
        }
        .image_phone {
            margin: 0;
            width: 250px;
            height: 350px;
        }

        .fully_blue {
          height: 30px;
          width: 280px;
              .fully_text {
                  font-size: 14px;
                  padding: 8px 0 0 8px;
              }
            }
        .high_blue {
          height: 30px;
          width: 310px;
              .high_text {
                  font-size: 14px;
                  padding: 8px 0 0 8px;
          }
        }

        .different_blue {
          height: 30px;
          width: 340px;
              .different_text {
                  font-size: 14px;
                  padding: 8px 0 0 8px;
          }
        }
        .none{
          display: none;
        }
    }
    


        .form {
          width: 100%;
        &_title{
          font-size: 30px;
        }
        &_title::before {
            display: flex;
            justify-content: center;
            margin: 0 auto;
            font-size: 220px;
            width: 100%;
            }

            .form_flex {
              justify-content: center;
              margin: 90px 80px 0 80px;
            }
          .texterea_size{
            width: 300px;
          }
        }


        .bee_wrapper {
          margin: 0 50px 0 50px;
        }
      }
      .map {
        min-height: 150px;
      }
}

@media (max-width:765px) {
  
  .scroll-down {
    padding-top: 100px;
  }
  .no_container {
    padding: 0;
    width: 100%;
  }
  .blue_write .blue_write_wrapper_all {
    padding: 0;
  }
  .none_br {
    display: none;
  }
  .write_big_1 {
    max-width: 300px;
  }
}

@media (max-width:554px){
  .blue_write .blue_write_wrapper_all {
    padding: 0 20px 0 20px;
  }
  .none_br {
    display: none;
  }
  .promo_wrapper .promo_item {
    width: 40%;
  }
}

@media (max-width:723px) {
  body .form .form_flex {
    margin: 50px 25px 0 25px;
  }
  .bg_section {
    background: url(../img/bg12section.jpg) no-repeat;
    background-size: auto 100%;
  }
}

@media (max-width:534px) {

  .team_wrapper {
    justify-content: center;
    }
    .none {
      display: none;
    }
    body .bg_section .promo_wrapper {
      margin-top: 100px;
    }
}

@media (max-width:481px) {
  body .bg_section h1 {
    font-size: 50px;
  }
  body .bg_section .site {
    font-size: 17px;
  }
  
  .none {
    display: none;
  }
  body .blog .blog_wrapper .blog_item {
    width:100%;
  }
  body .akita_one_wrapper .user_img_div {
    height: 250px;
  }
  body .akita_one_wrapper .user_img_block {
    height: 250px;
  }

}
@media (max-width:452px) {

  .bg_section {
    height: 1800px;
  }

  body .bg_section .label {
    padding: 0;
    margin-top: 210px;
  }

  .top {
    margin-top: 50px;
  }

  .promo_wrapper .promo_item .promo_descr_text {
    margin-top: 10px;
    font-size: 14px;
  }

  .promo_wrapper .promo_item .promo_round {
    width: 80px;
    height: 80px;
  }

.promo_wrapper .promo_item {
  // width: 40%;
}
// body .bg_section .label {
//   padding-top: 500px;
// }
body .bg_section .promo_wrapper {
  margin-top: 50px;
}
}

@media (max-width:405px) {
  body .bg_section .site {
    font-size: 15px;
    word-spacing: 5px;
    letter-spacing: 9px;
  }
  .write_big_1 {
    max-width: 40px;
  }
  body .akita .image_phone {
    display: none;
  }
  body .akita .different_blue {
    max-width: 320px;
}
body .akita .high_blue {
  max-width: 290px;
}
body .akita .fully_blue {
  max-width: 260px;
}
}

@media (max-width:375px) {
body .bg_section .label {
  padding-top: 50px;
}

  body .akita .different_blue {
    max-width: 290px;
}
body .akita .high_blue {
  max-width: 275px;
}
body .akita .fully_blue {
  max-width: 260px;
}
}

@media (max-width:323px) {
  body .bg_section .label {
    padding-top: 550px;
  }
  body .akita .different_blue {
    max-width: 270px;
}
body .akita .high_blue {
  max-width: 260px;
}
body .akita .fully_blue {
  max-width: 250px;
}

}

@media (max-width:293px) {
  body .bg_section .label {
    padding-top: 600px;
  }
}

@media (max-width:275px) {
  body .bg_section .label {
    padding-top: 500px;
  }
  body .bg_section .site {
    font-size: 10px;
  }
  body .bg_section h1 {
    font-size: 30px;
  }
}