@media (max-width: 768px) {
    .menu-btn{
        display: flex;
        align-items: center;
        position: absolute;
        top: 45px;
        right: 45px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
      }
       
      .menu-btn > span,
      .menu-btn > span::before,
      .menu-btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #fff;
        transition-duration: .25s;
      }
      .menu-btn > span::before {
        content: '';
        top: -8px;
      }
      .menu-btn > span::after {
        content: '';
        top: 8px;
      }
       
      .menubox{
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: 100%;
        width: 200px;
        height: 100%;
        margin: 0;
        padding: 0;
        list-style: none;
        background-color: #000;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
        transition-duration: .25s;
      }
       
      .zaebalo {
        color: red;
        // display: block;
        font-size: 20px;
        transition-duration: .25s;
        padding-left: 20px;
    }

.zaebalo::after {
  transform:translateY(2px);
}
    
    .zaebalo:hover:after,
    .zaebalo:focus:after {
        width: 100%;
    }

      
      .zaebalo:hover {
        background-color: #CFD8DC;
        color: black;
      }
       
    
    
       
      #menu-toggle{
        opacity: 0;
      }
       
      #menu-toggle:checked ~ .menu-btn > span{
        transform: rotate(45deg);
      }
      #menu-toggle:checked ~ .menu-btn > span::before{
        top: 0;
        transform: rotate(0);
      }
      #menu-toggle:checked ~ .menu-btn > span::after{
        top: 0;
        transform: rotate(90deg);
      }
      #menu-toggle:checked ~ .menubox{
        visibility: visible;
        left: 0;
      }

      body {
        width: 100%;
        .bg_section {
          width: 100%;
          height: 100%;
          
          .logo_img_div {
          display: flex;
          // justify-content: center;
          width: 100%;
        }

          h1 {
            font-size: 80px;
          }
          .site {
            font-size: 20px;
          }

          .label {
            margin-top: 250px;
            font-size: 30px;
          }

          .label::before {
            display: flex;
            justify-content: center;
            margin: 0 auto;
            font-size: 180px;
            width: 100%;
        }

          .promo_wrapper {
            justify-content: space-around;
            flex-wrap: wrap;
            margin: 140px 0 30px 0;
          }

        .akita_one_wrapper {
          flex-direction: row-reverse;
        }
        }
        .user_img_1 {
          display: flex;
          width: 800px;
        }

        .user_img_div {
          order: 1;
        }

        .color {
          order: 2;
        }
        .time_and_text {
          padding-left: 30px;
          text-align: center;
        }

        .user_img_2 {
          width: 800px;
        }

        .user_img_block {
          order: 3;
        }

        .color_2{
          order: 4;
          width: 100%;
        }

        .time_and_text_2 {
          text-align: center;
          padding-left: 75px;
        }


      .blog {
        width: 100%;
       
        .blog_wrapper {
          flex-wrap: wrap;
          .blog_item{
            margin-bottom: 15px;
            width: 40%;
          }
        }
      }

      .blue_write_wrapper_all {
        flex-wrap: wrap;
        justify-content: space-around;
        .blue_write_wrapper_1 {
          margin-left: 30px;
        }

        .blue_write_wrapper_2 {
          display: flex;
          margin-top: 50px;
      }
      }

      .akita {
        // flex-wrap: wrap;
        min-height: 550px;
        .wrapper_akita {
          width: 300px;
          height: 100%;
          margin-left: 10px;
          h2 {
            padding: 50px 35px 0 0;
          }
        }
        .image_phone {
            // margin: 170px 0 0 20px;
            margin: 0;
            width: 250px;
            height: 350px;
        }

        .fully_blue {
          height: 30px;
          width: 280px;
              .fully_text {
                  font-size: 14px;
                  padding: 8px 0 0 8px;
              }
            }
        .high_blue {
          height: 30px;
          width: 310px;
              .high_text {
                  font-size: 14px;
                  padding: 8px 0 0 8px;
          }
        }

        .different_blue {
          height: 30px;
          width: 340px;
              .different_text {
                  font-size: 14px;
                  padding: 8px 0 0 8px;
          }
        }
        .none{
          display: none;
        }
    }
    
    .team_wrapper {
      flex-wrap: wrap;
      margin-bottom: 20px;
      .our_team {
        margin-bottom: 30px;
      }
    }




        .form {
          width: 100%;
        &_title{
          font-size: 30px;
        }
        &_title::before {
            display: flex;
            justify-content: center;
            margin: 0 auto;
            font-size: 220px;
            width: 100%;
            }

            .form_flex {
              justify-content: center;
              margin-top: 90px;
            }
          .texterea_size{
            width: 300px;
          }
        }


        .bee_wrapper {
          margin: 0 50px 0 50px;
        }
      }
}
