@media (min-width: 2146px) {
  .none_br {
    display: none;
  }
}
@media (min-width: 1368px)   {
  .form .form_flex .texterea_size {
    width: 1249px;
  }
}
@media (max-width: 1307px) {
  .form .form_flex .form-input {
    width: 550px;
  }
  .form .form_flex {
    justify-content: center;
    margin-top: 90px;
  }
}
@media (max-width: 1240px) {
  .akita_one .time_and_text {
    margin-left: 65px;
  }
}
@media (max-width: 1203px){
  .team_wrapper {
    flex-wrap: wrap;
    margin-bottom: 20px;
    justify-content: center;
    padding: 0 110px 0 110px;
    .our_team {
      margin-bottom: 30px;
      width: 50%;
      h4 {
        left: 125px;

      }
    }
    .teamer {
      margin: 0 auto;
    }
  }
  .none_br {
    display: none;
  }
  write_big_1 {
    width: 0;
  }
}
@media (max-width: 1199px) {
  .promo_wrapper {
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 165px 0 50px 0;
  }
  .promo_wrapper .promo_item {
    padding-bottom: 40px;
    width: 34%;
  }
  .team_wrapper .our_team h4 {
    top:86%;
    left:50%;
    transform:translate(-50%, -50%);  }
}
@media (max-width: 1179px) {

  body {
    width: 100%;
    .row {
      --bs-gutter-x: 0;
    }
    .bg_section {
      width: 100%;
      height: 100%;
      .site {
        font-size: 20px;
      }

      .promo_wrapper {
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 100px 0 30px 0;
      }

      .top {
        margin-top: 50px;
      }


    .akita_one_wrapper {
      flex-direction: row-reverse;
    }
    }

    .akita_one_wrapper .user_img_div {
      width: 50%;
    }

    .color {
      width: 50%;

    }
    .akita_one .time_and_text { 
      text-align: center;
      margin: 0 auto;
      width: 100%;
      padding: 70px 20px 70px 20px;
    }

    .akita_one_wrapper .user_img_block {
      width: 50%;
    }

    .color_2{
      width: 50%;
    }

    .akita_one .color_2 .time_and_text_2  {
      text-align: center;
      margin: 0 auto;
      width: 100%;
     padding: 70px 20px 70px 20px;
    }


  .blog {
    width: 100%;
    .blog_wrapper {
      flex-wrap: wrap;
      .blog_item{
        margin-bottom: 15px;
        width: 40%;
      }
    }
  }

  .blue_write_wrapper_all {
    flex-wrap: wrap;
    justify-content: space-around;
    .blue_write_wrapper_1 {
      margin-left: 30px;
    }

    .blue_write_wrapper_2 {
      display: flex;
      margin-top: 50px;
  }
  }

  .akita {
    min-height: 550px;
    justify-content: space-around;
    .wrapper_akita {
      width: 300px;
      height: 100%;
      margin-left: 10px;
      h2 {
        padding: 50px 35px 0 0;
      }
    }
    .image_phone {
        margin: 0;
        width: 250px;
        height: 350px;
    }

    .fully_blue {
      height: 100%;
      width: 280px;
          .fully_text {
              font-size: 14px;
              padding: 8px 0 0 8px;
          }
        }
    .high_blue {
      height: 100%;
      width: 310px;
          .high_text {
              font-size: 14px;
              padding: 8px 0 0 8px;
      }
    }

    .different_blue {
      height: 100%;
      width: 340px;
          .different_text {
              font-size: 14px;
              padding: 8px 0 0 8px;
      }
    }
    .none{
      display: none;
    }
}



    .form {
      width: 100%;
    &_title{
      font-size: 30px;
    }
    &_title::before {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        font-size: 220px;
        width: 100%;
        }

        .form_flex {
          justify-content: center;
          margin: 90px 80px 0 80px;
        }
      .texterea_size{
        width: 300px;
      }
    }


    .bee_wrapper {
      margin: 0 50px 0 50px;
    }
  }
  .map {
    min-height: 150px;
  }
}
@media (max-width: 1028px) {
  .none {
    display: none;
  }
} 
@media (max-width: 992px) {
 .bg_section {
  background-size: auto 100%;
  object-position: left;
  }
  
  .container {
    max-width: 960px;
  }
  .header_navigation_list {
width: 654px;
left: 22%;
  }
  .akita_one_wrapper .color {
    width: 67%;
    flex-grow: 0;
    margin: 0 auto;
    order: 2;
  }
  body .akita_one_wrapper .user_img_div {
    width: 67%;
    height: 400px;
    margin: 0 auto;
    order: 1;

  }
  body .akita_one_wrapper .user_img_block {
    width: 67%;
    height: 400px;
    margin: 0 auto;
    order: 3;

  }
  .akita_one .color_2 {
    width: 67%;
    flex-grow: 0;
    margin: 0 auto;
    order: 4;
  }
  .akita_one{
    background: linear-gradient(rgb(141, 141, 141), #f3f3f3);
  }
}
@media (max-width: 991px) {
  .team .team_wrapper {
    padding: 0;
  }
}
@media (max-width: 869px) {
  .header_navigation_list {
    width: 654px;
    left: 17%;
      }
}
@media (max-width: 806px) {
  .header_navigation_list {
    justify-content: center;
    left: 15%;
  }
  .header_navigation_list li {
    padding-right: 20px;
  }
  .header_navigation_list .social {
    padding-right: 10;
  }

}
@media (max-width: 800px) {
  .akita_one_wrapper .color {
    width: 100%;
  }
  body .akita_one_wrapper .user_img_div {
    width: 100%;
  }
  body .akita_one_wrapper .user_img_block {
    width: 100%;
  }
  .akita_one .color_2 {
    width: 100%;
  }

}
@media (max-width: 786px) {
  .header_navigation_list {
    left: 13%;
  }
}
@media (max-width: 768px) {
  .menu-btn{
    display: flex;
    align-items: center;
    position: absolute;
    top: 45px;
    right: 40px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 60;
    position: fixed;
  }
   
  .menu-btn > span,
  .menu-btn > span::before,
  .menu-btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition-duration: .25s;
  }
  .menu-btn > span::before {
    content: '';
    top: -8px;
  }
  .menu-btn > span::after {
    content: '';
    top: 8px;
  }
   
  .header_navigation_list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    visibility: hidden;
    top: 0;
    padding: 20px 0 0 20px;
    left: -100%;
    width: 200px;
    height: 100%;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    transition-duration: .25s;
    z-index: 60;

  }
   
  .header_navigation_list li .zaebalo {
    color: #333;
    display: block;
    font-size: 20px;
    transition-duration: .25s;
    padding: 20px 0 0 20px;
    height: 50px;
}

.header_navigation_list li .zaebalo span {
  color: #333;

}

.header_navigation_list li .zaebalo::after {
transform: translateX(-20px) translateY(1px);
}

.header_navigation_list li .zaebalo:hover:after,
.header_navigation_list li .zaebalo:focus:after {
    width: 112%;
}

  
.header_navigation_list li .zaebalo:hover {
    background-color: #CFD8DC;
    color: black;
  }
   
  #menu-toggle{
    opacity: 0;
  }
   
  #menu-toggle:checked ~ .menu-btn > span{
    transform: rotate(45deg);
  }
  #menu-toggle:checked ~ .menu-btn > span::before{
    top: 0;
    transform: rotate(0);
  }
  #menu-toggle:checked ~ .menu-btn > span::after{
    top: 0;
    transform: rotate(90deg);
  }
  #menu-toggle:checked ~ .menubox{
    visibility: visible;
    left: 0;
  }
  .col-md-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
}
}
@media (max-width:765px) {
  
  .scroll-down {
    padding-top: 100px;
  }
  .no_container {
    padding: 0;
    width: 100%;
  }
  .blue_write .blue_write_wrapper_all {
    padding: 0;
  }
  .none_br {
    display: none;
  }
  .write_big_1 {
    max-width: 300px;
  }
}
@media (max-width:723px) {
  body .form .form_flex {
    margin: 50px 25px 0 25px;
  }
}
@media (max-width:684px) {
  .label::before {
    line-height: 110px;
  }
  .team_wrapper .our_team {
    width: 100%;
  }
}
@media (max-width:660px) {
  body .akita .different_blue {
    max-width: 300px;
}
body .akita .high_blue {
  max-width: 280px;
}
body .akita .fully_blue {
  max-width: 260px;
}
}
@media (max-width:554px){
  .blue_write .blue_write_wrapper_all {
    padding: 0 20px 0 20px;
  }
  .none_br {
    display: none;
  }
  .promo_wrapper .promo_item {
    width: 40%;
  }
  .col-md-2 {
    width: 22.66666667%;
}
.promo_wrapper .promo_item .promo_descr_text {
  margin-top: 10px;
  font-size: 14px;
}
.akita_one .time_and_text .akita_one_text {
  font-size: 14px;
}
.akita_one .color_2 .time_and_text_2 .akita_one_text_2 {
  font-size: 14px;
}
.blog_wrapper .blog_descr_text {
  font-size: 14px;
}
.blue_write .blue_write_wrapper_all .blue_write_wrapper_text {
  font-size: 14px;
}
.wrapper_akita .text_akita {
  font-size: 14px;
}
}
@media (max-width:534px) {

  .team_wrapper {
    justify-content: center;
    }
    .none {
      display: none;
    }
    body .bg_section .promo_wrapper {
      margin-top: 100px;
    }
}
@media (max-width:481px) {
  body .bg_section h1 {
    font-size: 35px;
  }
  body .bg_section .site {
    font-size: 15px;
    word-spacing: 7px;
  }
  
  .none {
    display: none;
  }
  body .blog .blog_wrapper .blog_item {
    width:100%;
  }
  body .akita_one_wrapper .user_img_div {
    height: 250px;
  }
  body .akita_one_wrapper .user_img_block {
    height: 250px;
  }

}
@media (max-width:468px) {
  body .bee_wrapper {
    flex-direction: column;
    justify-content: center;
  }
}
@media (max-width:452px) {

  .promo_wrapper .promo_item .promo_round {
    width: 80px;
    height: 80px;
  }

.promo_wrapper {
  margin-top: 75px;
}
.promo_wrapper .promo_item {
  width: 100%;
}
.creatives h1 {
  font-size: 40px;
}
}
@media (max-width:426px) {
  .label::before {
    line-height: 170px;
  }
  .col-md-2 {
    width: 28.66666667%;
}
}
@media (max-width:405px) {
  body .bg_section .site {
    font-size: 15px;
    word-spacing: 5px;
    letter-spacing: 9px;
  }
  .write_big_1 {
    max-width: 40px;
  }
  body .akita .image_phone {
    display: none;
  }
}
@media (max-width:375px) {

  body .akita .different_blue {
    max-width: 290px;
}
body .akita .high_blue {
  max-width: 275px;
}
body .akita .fully_blue {
  max-width: 260px;
}
}
@media (max-width:323px) {

  body .akita .different_blue {
    max-width: 270px;
}
body .akita .high_blue {
  max-width: 260px;
}
body .akita .fully_blue {
  max-width: 250px;
}

}

